{% extends "base.html" %}
{% load static %}
{% block head %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
	
	{% endblock %}
</head>
{% endblock %}
{% block body %}

<body>


<header>
      <h4 id="brand">Chat Room</h4>
</header>
<br><br><br><br>


<div class="container w-50 mb-5">
	<div class="wrapper"></div>

<!--Main Body-->


	<!--Message Typed-->
	<form method="post" action="{% url 'chat' %}" id="Chatform" >
		{% csrf_token %}
		<input type="hidden" name="username" value="{{username}}"  id="chat-log">
		<div class="navbar container w-50 pr-5">
		<input type="text" name="usermsg" placeholder="Type a message..." class="" id="textMessage">
		<button id="textMessagebtn">Send</button>
		</div>
		</form>

</div>
</body>
{% endblock %}
{% block js %}
	<!-- <script src="{% static 'js/plugin.js' %}"></script> -->
	<script type="text/javascript">
		var socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/');
	socket.onopen = websocket_welcome;
	socket.onmessage = websocket_message_show;

	$('#Chatform').submit(function(e){
		e.preventDefault();
		message_data = {
			'username':$('input[name="username"]').val(),
			'usermsg' : $('input[name="usermsg"]').val()

		}
		socket.send(JSON.stringify(message_data));
		$("#Chatform")[0].reset();
	});

function websocket_welcome(){
	// alert("welcome to chat room")
}
function websocket_message_show(e){
	var nm=document.getElementById("chat-log").value;
	var today = new Date();
	var time = today.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
	
	message_data = JSON.parse(e.data);
	if(message_data.username==nm){
	coding ="<p class='sender'><img src='{% static 'images/testimonials-2.jpg' %}' class='personProfilePicture'><strong class='ml-2'>"+message_data.username+"</strong><br><span class='ml-5'>"+message_data.message+"</span><span class='float-right'>"+time+"</span></p>";
			}
	else{
		coding = "<p class='reciver'><img src='{% static 'images/testimonials-2.png' %}' class='personProfilePicture'><strong >"+message_data.username+"</strong><br><span class='ml-5'>"+message_data.message+"</span><span class='float-right'>"+time+"</span></p>";
	}

	$('.wrapper').append(coding);
	console.log(coding);
}
	</script>
{% endblock %}

